//--- *************** ---//
//--- GLOBAL HEADER ---//
//--- *************** ---//

- var name = "Global Header"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    A container that serves primary global header content.

mixin usage
  h4 Using pug:
  pre
    code.lanaguage-pug
      | @param {boolean} alternate     - adds a alternate class for a display variance
      | @param {boolean} search        - adds a search show/hide

  pre
    code.language-pug
      | +global_header(false, true)


mixin output
  +global_header(false, true)

//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin global_header(alternate, search)

  -var classes = ''

  if alternate == true
    -classes = "gef-global-header-container gef-global-header--alt"
  else
    -classes = "gef-global-header-container"

  div(class=classes role="banner")

    div.gef-global-header

      div.uk-container.uk-container-center

        div.uk-grid.uk-grid-collapse

          div.uk-width-1-1

            a.gef-global-header__header(href="#" title=corporateName)

              abbr(title=corporateName aria-hidden="true")
                =corporateNameShort

    if search == true

      div.gef-global-header__search(data-gef-global-header-search-toggle)

        div.uk-container.uk-container-center

          div.uk-grid.uk-grid-collapse

            div.uk-width-1-1

              button(id="search-tab" type="button" role="tab" aria-controls="search-panel" aria-expanded="false" aria-selected="false" tabindex="0")
                span.gef-global-header__search__toggler-closed
                  | Search
                  i.uk-icon-search(aria-hidden="true")
                span.gef-global-header__search__toggler-opened
                  span.gef-global-header__search__toggler-opened__close-icon

              div(id="search-panel" role="tabpanel" aria-labelledby="search-tab" aria-hidden="true")

                form.gef-global-header__search-form(action="//search.uat.det.nsw.edu.au/search" method="get" role="search")
                  input(type="hidden" name="access" value="p")
                  input(type="hidden" name="client" value="alex_dl_test")
                  input(type="hidden" name="proxystylesheet" value="alex_dl_test")
                  input(type="hidden" name="site" value="gef_full_search")
                  label.show-on-sr.uk-visible-large(for="header-search")
                    | Search the department
                  div
                    input(id="header-search" name="q" type="text" placeholder="Search the department" role="textbox")
                    //-- span.gef-global-header__search-form__search-line
                    button(type="submit")
                      span.show-on-sr
                        | Submit
                      i.uk-icon-search(aria-hidden="true")
