//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = ""

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang="en")

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

  +gef_skiplink(true, false)

  +global_header(false, false)

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-container-center.uk-width-medium-7-10.uk-width-large-5-10.uk-margin-large-top.uk-margin-large-bottom.intercept-container

          div.uk-block.uk-block-default.intercept-block

            <!--[START-content-will-be-replaced]-->

            div.uk-container.uk-text-center

              h1.uk-h6.uk-margin-large-top
                | New policy library is now live

              p You may be looking for policy and related documents about Leading and Managing the School. These have been moved to #{' '}
                a(href="https://education.nsw.gov.au/policy-library/lms")
                  | education.nsw.gov.au/policy-library/lms
                | .


              p Take some time to familiarise yourself as the policies may not be in the places you're used to.
                br
                | Please update any links and favourite pages as well.



              p For help accessing the new website contact #{' '}
                a(href="mailto:DECinfo@det.nsw.edu.au")
                  | DECinfo@det.nsw.edu.au
                |.

              p
                | Thank you.

            <!--[END-content-will-be-replaced]-->

  +global_footer

  include assets/pug/_scripts.pug
