// ----------------------
// CUSTOM VARIABLES
// ----------------------


$intercept-colour-link: rgb(10, 124, 185);
$intercept-colour-link-hover: darken($intercept-colour-link, 10%);
$gef-plain-3: rgb(204, 209, 217);
$gef-black: rgb(0, 0, 0);

// ----------------------
// OVERRIDE GEF VARIABLES
// ----------------------

$gef-global-header-border: none;
